<ion-tabs class="tabs-icon-top tabs-dark">
  <ion-tab title="Stats" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Leaderboards" icon-off="ion-trophy" icon-on="ion-trophy" href="#/tab/leaderboards">
    <ion-nav-view name="tab-leaderboards"></ion-nav-view>
  </ion-tab>
</ion-tabs>
